.bg{
    height: 475px ;
    width: 360px;
}

.showName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: white;
    width: 125px;
    /* height: 100px; */
    position: absolute;
    top: 230px;
    left: 200px;
    border-radius: 2px;
}

#btn{
    display: grid;
    margin-bottom: 20px;
}

#jpgFile{
    width: 360px;
}

#output{
    position: absolute;
    height: 130px;
    width: 120px;
    top: 270px;
    left : 200px;
}
